{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectez en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container" style="margin-top: 10%; width: 30%;">
        <div class="shadow-lg p-3 mb-5 bg-body rounded" style="background: #1b373d">
            <h1 class="h3 mb-3 font-weight-normal text-bck">Connectez-vous</h1>
            <label for="inputEmail" class="text-bck">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword" class="text-bck">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>




    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

            <button class="btn btn-lg text-bck" type="submit" style="margin-top: 20px">
                Se connecter
            </button>
            <button class="btn btn-lg text-bck" style="margin-top: 20px"><a href="{{ path('app_register') }}" style="text-decoration: none; color : white">S'enregistrer</a></button>
        </div>
    </div>
</form>

{% endblock %}
